<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randoms</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<% include('./partials/header') %> 
<!-- <%= se%>


    <% 
    let count=0;
    let c= arr.filter((a,b)=>{
     if(se===a){
        count++
     }
        return se===a 
    })%>
    <%= count %> -->


</body>
</html>