.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:  fit-content;
    gap:30px;
}

.box{
    height: 250px;
    width: 500px;
    border-radius:10px;
    box-shadow:0 0 10px black,0 2px 5px rgb(42, 42, 44);

}